.vscode
**/__pycache__
*.py[cod]
*.egg-info
.eggs
dist
build
*.egg

# Models
**/*.pt
**/*.pkl
**/*.pth
**/*.pth.tar

# Data
**/*.npy
**/*.npz
**/*.out

# Testing / coverage
.coverage
.pytest_cache
htmlcov